.tabs-container{
    display: flex;
    justify-content: center;

    margin-top: 32px;
}
.next-tab{
    color: #4B4A44;
    font-size: 12px;
line-height: 14px;
font-weight: 400;
letter-spacing: 0;
margin-right: 10px;
}
.next-tab.active{
    color: #231F20;
    font-weight: 600;
    
}
.tabs-container img{
    margin-right: 10px;
}
.checkout-left-form{
    width: 55.73%;

    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.checkout-container{
    margin-top: 52px;
    width: 59.34%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.checkout-container img{
align-self: center;
}
.express-checkout{
    border: 1px solid #E6E6E6;
    margin-top: 32px;
    display: flex;
    width: 100%;
    padding: 0;
}
.express-checkout-label{

  
    margin-left: 40%;
    font-weight: 400;
    font-size: 20px;
line-height: 23px;
letter-spacing: 0;
}


.button{
    margin-top: 40px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 30px;
    margin: 30px 0px 30px 30px;
}

.button.shop-pay{
    width: 33.3%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D26EB;
    border: none;
}
.button.apple-pay{
    width: 33.3%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231F20;
    border: none;
}
.button.paypal{
    width: 33.3%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEC349;
    border: none;
    margin-right: 30px;
}

.button.shopping{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 33.3%;
}
hr.express-hr{
    border: none;
    border-top: 1px solid #E6E6E6;
    color: #E6E6E6;
    overflow: visible;
    text-align: center;
    height: 1px;
    margin-top: 43px;
}
hr.express-hr:after{
   background-color: #FFFFFF;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -13px;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
}
hr.footer-hr.mini{
    margin-top: 30px;
}
.checkout-form{
    margin-top: 40px;
}
.checkout-form-contact-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.checkout-form-contact-info{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0;
}
.checkout-form-contact-login{
    font-size: 16px;
line-height: 18px;
letter-spacing: 0;
}
.checkout-email-input{
    border: 1px solid #DCDAD6;
    height: 48px;
    width: 100%;
    margin-top: 20px;
    padding-left: 16px;
    letter-spacing: 0;
}


.checkout-email-checbox-label {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0;
    font-size: 15px;
line-height: 17px;

  }
  

  .checkout-email-checbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }
  
  .checkout-email-checbox-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .checkout-email-checbox-label input:checked ~ .checkmark {
    background-color: #231F20;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .checkout-email-checbox-label input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .checkout-email-checbox-label .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
 
    transform: rotate(45deg);
  }
  .shipping-mini-input-container{
      display: flex;
      justify-content: space-between;
  }
  .checkout-email-input.shipping-mini{
      width: 48.5%;
  }
  .shipping-address{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 30px;
  }
  .checkout-email-input.select.shipping{
      background: #FFFFFF;
      width: 31.5%;
      background: url("../../assets/selectArrow.svg");
      background-repeat: no-repeat;
      background-position:95%;   
    
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';  
  }
  .checkout-email-input.select.shipping.zip{
      background: none;
  }
  select::-ms-expand {
    display: none;
}
  .checkout-email-input-select-container{
      display: flex;
      justify-content: space-between;
  }
  .checkout-button-container{
      display: flex;
      width: 100%;
      margin-top: 30px;
  }
  .continue-shipping{
      width: 50%;
      height: 48px;
      background-color: #231F20;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 17px;
      cursor: pointer;
  }
  .return-to-card{
    width: 50%;
    height: 48px;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
  }
.checkout-right-form{
    background-color: #F5F3EF;
    width: 44.27%;
    
}
.checkout-section{
    display: flex;
}

.gift-container-form{

    width: 49%;
    margin-left: 30px;
    margin-top: 52px;
}
.gift-container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-title{
    margin-left: 20px;
    font-size: 20px;
line-height: 23px;
}
.gift-price{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
}
hr.gift-hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #DCDAD6; 
}
.gift-code-input{
    width: 80%;
    height: 48px;
    background: transparent;
    padding-left: 16px;
    border: 1px solid #DCDAD6;
    letter-spacing: 0;
    color: #A7A5A6;
}
.gift-code-button{
    width: 20%;
    height: 48px;
    background-color: #231F20;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
line-height: 17px;
cursor: pointer;
}
.gift-code-container{
    display: flex;
}
.gift-subtotal{
    display: flex;

    justify-content: space-between;
}
.gift-shipping{
    display: flex;

    margin-top: 24px;
    justify-content: space-between;
}
.gift-subtotal-title,
.gift-shipping-title{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
}
.gift-subtotal-price,
.gift-shipping-price{
    font-size: 16px;
line-height: 18px;
letter-spacing: 0;
}
.gift-total-title,
.gift-total-price{
    font-size: 20px;
line-height: 23px;
letter-spacing: 0;
font-weight: 400;
}
.gift-total{
    display: flex;
    justify-content: space-between;
}

.checkout-mobile{
      display: none;  
}
.checkout-drop-mobile{
    display: none;  
}
@media only screen and (max-width: 1200px) {
    .checkout-section{
        display: flex;
        flex-direction: column-reverse;
      
    }
    .checkout-right-form{
        width: 100%;
        display: flex;
      justify-content: center;
        padding-bottom: 30px !important;
    }
    .gift-container-form{
        width: 92%;
        margin-left: 0;
    }
    .checkout-left-form{
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }
    .checkout-container{
        width: 92%;
    }
    .checkout-mobile{
        display: block;  
        padding: 15px 17px 0px 17px;
  }
}

@media only screen and (max-width: 550px) {
    .checkout-section{
       
      
    }
    .checkout-right-form{
     display: none;
    }
    .checkout-right-form.open{
        display: flex;
       }
    .gift-container-form{
      
    }
    .checkout-left-form{
       
    }
    .checkout-container{
        margin-top: 0;
    }
    .checkout-form-contact-info{
        font-size: 18px;
    }
    .checkout-form-contact-login{
        font-size: 14px;
    }
    .express-checkout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 32px;
    }
    .button{
      width: 86% !important;
  
      margin: 0 !important;
      margin-top: 16px !important;
    }
    .express-checkout-label{
        margin-left: 30%;
    }
    .checkout-email-input.shipping-mini{
        width: 100%;
    }
    .shipping-mini-input-container{
        flex-direction: column;
    }
    .checkout-email-input.select.shipping{
        width: 100%;
       
    }
    .checkout-email-input-select-container{
        flex-direction: column;
    }
    .drop-down-summary{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E3E0D980;
        margin-top: 32px;
    }
    .drop-down-summary-text{
        display: flex;
        align-items: center;
        padding: 16px 0px 15px 19px;
    }
    .drop-down-summary-description{
        position: relative;
        top: 4px;
        font-size: 18px;
        line-height: 21px;
        color: #4B4A44;
        letter-spacing: 0;
        font-weight: 400;
        padding: 0px 12px 0px 13px;
    }
    .drop-down-summary-price{
        color: #4B4A44;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0;
        padding-right: 15px;
    }
 .drop-down-summary-button{
     background: none;
     border: none;
 }
 .continue-shipping{
    width: 100%;
   
}
.return-to-card{
  width: 100%;
  padding-left: 0;
  text-align: center;
  margin-top: 15px;
  
}
.checkout-button-container{
    flex-direction: column;
}
.footer-copyright{
    margin-top: 0 !important;
}
}