.about__upper{
    display: flex;
    justify-content: space-between;
}
.about-text-container{
    margin-left: 29px;
    padding: 30px 30px 0px 30px;
    background-color: #E3E0D980;
}
.about-title{
    font-size: 32px;
line-height: 36px;
letter-spacing: 0.20em;
text-transform: uppercase;
}
.about-title nobr{
    font-size: 32px;
line-height: 36px;
letter-spacing: 0.20em;
    color: #231E23;
    
}
.about-greetings{
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 600;
    margin-top: 32px;
    letter-spacing: 0;
}
.about-text{
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0;
    margin-top: 32px;
}
.about-collage-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-section__newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 144px;
  
}
.main-section__newsletter__title{
    font-size: 32px;
    line-height: 37px;
    font-weight: 400 !important;
    text-transform: uppercase;
}
.main-section__newsletter__input{
    height: 52px;
    border: 1px solid #D1D1D1;
    width: 100%;
    padding-left: 16px;
    width: 37%;
}
.main-section__newsletter__input::placeholder{
    color: #A7A5A6;
    font-size: 15px;
}
.main-section__newsletter__input:focus{
    border: 1px solid #231F20;

}
.main-section__newsletter__button{
    border: none;
    background: #E3E0D9;
    padding: 18px 16px 17px 16px;

height: 52px;
font-size: 15px;
font-weight: 300;
text-transform: uppercase;
cursor: pointer;
}
.main-section__newsletter__button:hover{
    background-color: #231F20;
    color: #ffffff;
}
.main-section__newsletter__subscribe{
    display: flex;
    justify-content: center;
    margin-top: 53px;
   width: 100%;
}
@media only screen and (max-width: 1200px) {
    .about__upper{
       
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .about-text-container{
        margin-left: 0;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .about-collage-container{
        flex-wrap: wrap;
        margin: 0;
    }
    .about-collage-container img{
        margin-top: 30px;
    }
 }
@media only screen and (max-width: 768px) {
   .main-section__newsletter__title{
       text-align: center;
   }
   .main-section__newsletter__input{
   
    width: 92%;
}
.about-main-image{
    width: 100%;
    height: 100%;
}
.about-text-container{
    width: 100%;
}
.about-collage-container img{
    width: 30% !important;
    height: 30% !important;
}
.main-section__newsletter{
    margin-top: 84px;
}
.about-greetings{
    margin-top: 20px;
  }
.about-text{
    margin-top: 20px;
}
}