.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F6F4;
    padding: 12px 33px 12px 33px;
    height: 100%;
    
}
.upper-header.mobile{
  padding: 12px 18px;
}
.upper-header__text{
    color: #231F20;
    line-height: 15px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 100px; 
    vertical-align: middle;
    margin-right: 10px; 
}
.upper-header__coupon{
  display: flex;
  align-items: flex-start;
}
.upper-header__coupon.disabled{
  display: none;
 
}
.upper-header__coupon img{
  cursor: pointer;
}
.upper-header__images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 115px;
    cursor: pointer;
}
.header-container{

  width:min(69.58%,1336px);
  margin: 0 auto;
}
.search-button{
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.search-input{
  width: 0;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  background: none;
}
.search{
  display: flex;

}
.search-button:focus ~ .search-input{
  width: 200px;
  background-color: transparent;
  border-bottom: 1px solid #E3E3E3;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.search-input:focus{
  width: 200px;
  border-bottom: 1px solid #E3E3E3;
  background-color: transparent;

 
}
.search-input::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(../assets/cross.svg);
 cursor: pointer;
}

.main-logo{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}
.menu-list{
    display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      padding:48px 0 38px 0;
     
  }
.menu-list-item a:hover{
    padding-bottom: 8px;
   
  
  border-bottom: 1px solid #231F20;
 
}
.menu-list-item.active{
    padding-bottom: 8px;
    border-bottom: 1px solid #231F20;
  
  }
  .menu-list-item.active-menu{
    padding-bottom: 8px;
    border-bottom: 1px solid #231F20;
  
  }
  .menu-list-item.active-menu a:hover{
    border-bottom: none;
  
  }
  .menu-list-item.active a:hover{
   
    border-bottom: none;
  
  }
.menu-list-item a::after{
  content:" ";

 margin-right: -0.5em;

}
.menu-list-item a{

  letter-spacing: 0.5em;
  white-space: nowrap;
 text-align: right;
}
 
.menu-list-item{
  cursor: pointer;

}

.main-section-icons-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
 
  .header-container{

    width:min(92%,1109px);
    margin: 0 auto;
  }
 .upper-header__text-mobile{
     font-size: 13px;
     text-align: center;
     margin-top: 13px;
     text-transform: uppercase;
     line-height: 19.5px;
      
 }

 .upper-header__coupon.disabled{
   display: none;
 }
 .main-logo{
  justify-content: space-between;    
  align-items: center;
  }
  .header{
      display: none;
  }
  .main-logo a{ 
    width: 100% !important;
    }
  .main-logo img{
      width: 89%;
      
  }
  
  .search-input{
    width: 90%;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  }
  .search-input:focus{
    width: 90%;
  border-bottom: 1px solid #E3E3E3;
  background-color: transparent;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
 
  .modal-content {
    background-color: #fefefe;
    padding: 15px;
    background: #F3F2EF;
    width: 100%;
    height: 57px;
    display: flex;
  }
  .modal-content img{
    width: 24px;
    height: 22px;
  }

}