.toggle-menu {
  display: none;
}
.toggle-btn {
  display: none;
}
.toggle-line.active:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, 12px);
  background: #000000;
  height: 1px;
  width: 32px;
}
.toggle-line.active:nth-child(2) {
  opacity: 0;
}
.toggle-line.active:nth-child(3) {
  transform: rotate(45deg) translate(-3px, -13px);
  background: #000000;
  height: 1px;
  width: 32px;
}
.toggle-btn:focus {
  outline: none;
}
.toggle-line {
  width: 32px;
  height: 1px;
  background: #000000;
  z-index: 250;
  transition: all 0.5s;
  border-radius: 5px;
}
.toggle-line-mobile {
  width: 32px;
  height: 1px;
  background: #000000;
  z-index: 250;
  transition: all 0.5s;
  border-radius: 5px;
}
.toggle-line-mobile.active {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .side-drawer-main-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .side-drawer-main-logo img {
    width: 90%;
  }
  .side-drawer__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .side-drawer__navigation-link {
    margin-top: 52px;
    text-align: center;
    text-transform: uppercase;
  }
  .side-drawer__navigation-link.active a {
    border-bottom: 1px solid #231f20;
  }
  .side-drawer__navigation-link a::after {
    content: " ";

    margin-right: -0.22em;
  }
  .side-drawer__navigation-link a:hover {
    border-bottom: 1px solid #231f20;
  }

  .toggle-menu {
    height: 100%;
    background: #f0efeb;

    width: 100vw;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: linear 0.3s;
  }
  .toggle-menu.active {
    display: block;
    transform: translateX(0);
  }
  .toggle-menu__inner {
    display: flex;
    height: 100vh;
    justify-content: space-between;

    flex-direction: column;
  }
  .toggle-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 24px;
    width: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .toggle-social-links {
    margin-top: 137px;
  }
}

@media only screen and (max-width: 400px) {
  .toggle-social-links {
    margin-top: 40px;
  }
}
