.coffee-box.flower{
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 31%;
      padding: 20px 10px;
      margin-top: 16px;
      border: 1px solid #D1D1D1;
      cursor: pointer;
  }
  .coffee-box.flower.delivery-1{
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 31%;
      padding: 20px 10px;
      margin-top: 16px;
      margin-right: 15px;
      border: 1px solid #D1D1D1;
      cursor: pointer;
  }
  .coffee-description.flower{
      width: 100%;
  }
  .coffee-size.flower{
    font-size: 15px ;
    font-weight: 400;
  }
  .delivery-buttons{
      display: flex;
  }
  .delivery-buttons label{
    padding: 10px !important;
    width: max-content !important;
  }
  .coffee-box-delivery{
    color: #4F4C4D;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
   position: relative;
   top: 2px;
   
  }
 .delivery-date-input{
    width: 100%;
    height: 42px;
    padding-left: 16px;
    padding-right: 16px;
    letter-spacing: 0px;

    background: url("../../assets/fi_calendar.svg");
    background-position: calc(100% - 16px);
    background-repeat: no-repeat;
    border: 1px solid #D1D1D1;
 }
 .delivery-date-input:focus{
    background: none;
  
 }

 .delivery-date-input::-webkit-calendar-picker-indicator{
    background: none;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
 }
 .delivery-date i{
    position: absolute;
 }
 .delivery-date{
     margin-top: 16px;
 }
  input[type="radio"]{
    display: none;
  }
  #size-1:checked:checked ~ .size-1,
  #size-2:checked:checked ~ .size-2,
  #size-3:checked:checked ~ .size-3{
    background: #E3E0D9;
    border: none;
  }
  #delivery-1:checked:checked ~ .delivery-1,
  #delivery-2:checked:checked ~ .delivery-2{
    background: #E3E0D9;
    border: none;
  }
  @media only screen and (max-width: 768px) {
      .coffee-box-container.flower{
          flex-wrap: wrap;
      }
      .coffee-box.flower{
          width: 47.5%;
      }
  }